.App {
  text-align: center;
}

.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: radial-gradient(circle at top left, #A5A6F6, #FFFFFF);
}

.letaklogo{
  display: flex;
  justify-content: left;
  padding-top: 0px;
}

.sub-main {
  display: flex;
  justify-content: center;
  height: 759px;
  width: 35%;
  box-shadow: 0px 6px 10px rgb(0, 0, 0);
  padding-top: 30px;
  border-radius: 20px;
  background-color: rgb(217, 217, 217);
}

.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
  height: 120px;
}

input {
  width: 501px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgb(126, 126, 126);
  border: none;
  outline: none;
}

.mata {
  height: 24px;
  width: 45px;
  position: absolute;
  padding: 15px 0 0 475px;
}

.name {
  padding-left: 20px;
  font-size: 20px;
}
.second-input {
  padding-top: 40px;
}

.lupa-password{
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 0 360px;
}

a {
  color: #000;
}
.cekbox {
  font-size: 20px;
  padding: 12px 390px 0 0;
}

.cek {
  width: 15px;
  height: 15px;
}

button {
  width: 520px;
  height: 50px;
  border-radius: 20px;
  background-color: #5D5FEF;
  color: white;
  font-size: 20px;
  border: none;
}

.login-button {
  padding-top: 0px;
}

.atau {
  font-size: 20px;
  font-weight: 400;
  padding-top: 0px;
}

.link-daftar{
  font-size: 20px;
  font-weight: 400;
}

.alt-button {
  width: 520px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  color: black;
  font-size: 20px;
  border: none;
  box-shadow: 0 2px 10px rgb(126, 126, 126);
}

.google {
  height: 24px;
  width: 24px;
  position: absolute;
  padding: 12px 0 0 12px;
}

.alternatif-login {
  padding-top: 0px;
}
